@using FourLeafCloverShoe.Share.ViewModels;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model IEnumerable<UserViewModel>




@{
    ViewBag.Title = "Danh sách";
    ViewBag.pTitle = "Người dùng";
}



<div class="row">
    <!-- [ sample-page ] start -->
    <div class="col-sm-12">
        <div class="card table-card">
            <div class="card-body">
                <div class="text-end p-sm-4 pb-sm-2">
                    <a asp-action="Create" asp-controller="Role" class="btn btn-primary"> <i class="ti ti-plus f-18"></i> Thêm mới </a>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover tbl-product" id="pc-dt-simple">
                        <thead>
                            <tr>
                                <th data-sortable="true"><button class="datatable-sorter">STT</button></th>
                                <th data-sortable="true"><button class="datatable-sorter">Tên</button></th>
                                <th data-sortable="true"><button class="datatable-sorter">Tên đăng nhập</button></th>
                                <th data-sortable="true"><button class="datatable-sorter">Email</button></th>
                                <th data-sortable="true"><button class="datatable-sorter">Chức vụ</button></th>
                                <th data-sortable="true"><button class="datatable-sorter">Trạng thái</button></th>
                                <th data-sortable="true"><button class="datatable-sorter">Chức năng</button></th>

                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int stt = 0;
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @{
                                            stt++;
                                            <span>@stt</span>
                                        }
                                    </td>
                                    <td>
                                        @if (item.ProfilePicture != null && item.ProfilePicture.Length > 0)
                                        {
                                            <img class="user-avtar wid-45 rounded-circle" alt="profile" src="data:image/*;base64,@(Convert.ToBase64String(item.ProfilePicture))" />
                                        }
                                        else
                                        {
                                            <img class="user-avtar wid-45 rounded-circle" alt="profile" src="~/fileadmin/assets/images/user/avatar-1.jpg" />
                                        }
                                    @item.FullName</td>
                                    <td>@item.UserName</td>
                                    <td>@item.Email</td>
                                    <td>
                                    @if (item.Roles.Count() == 0)
                                    {
                                        <span>No role</span>
                                    }
                                    else
                                    {
                                        @string.Join(" , ", item.Roles.ToList())
                                        ;

                                    }
                                    </td>
                                    <td>

                                    @if (item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
                                    {
                                            <span class="badge rounded-pill text-bg-primary">Hoạt động</span>

                                    }
                                    else
                                    {
                                            <span class="badge rounded-pill text-bg-danger">Khoá</span>
                                    }


                                    </td>
                                    <td>
                                        <div >
                                            <ul class="list-inline me-auto mb-0">
                                                <li class="list-inline-item align-bottom" data-bs-toggle="tooltip" title="Cập nhật">
                                                    <a asp-action="Edit" asp-route-userId="@item.Id"
                                                       class="avtar avtar-xs btn-link-secondary btn-pc-default">
                                                        <i class="ti ti-edit-circle f-18"></i>
                                                    </a>
                                                </li>
                                                @if (item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
                                                {
                                                    <li class="list-inline-item align-bottom" data-bs-toggle="tooltip" title="Khoá tài khoản">
                                                        <a asp-action="LockUnlock" asp-route-userId="@item.Id" class="avtar avtar-xs btn-link-success btn-pc-default">
                                                            <i class="ti ti-lock"></i>
                                                        </a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="list-inline-item align-bottom" data-bs-toggle="tooltip" title="Mở khoá tài khoản">
                                                        <a asp-action="LockUnlock" asp-route-userId="@item.Id" class="avtar avtar-xs btn-link-success btn-pc-default">
                                                            <i class="ti ti-lock-open"></i>
                                                        </a>
                                                    </li>
                                                }
                                               
                                                <li class="list-inline-item align-bottom" data-bs-toggle="tooltip" title="Xoá">
                                                    <a asp-action="Delete" asp-route-userId="@item.Id" class="avtar avtar-xs btn-link-danger btn-pc-default">
                                                        <i class="ti ti-trash f-18"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                               </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- [ sample-page ] end -->
</div>


